* {font-family: Lora, Garamond;
  font-size: 25px;}
 
body {background-image: url(https://static.pexels.com/photos/28773/pexels-photo-28773.jpg);
background-repeat: no-repeat;
background-position: left top;
background-size: contain;
 
.intro {color: #990000;
  text-align: center;
  overflow: auto;
  }
 
.test
  {color: red;}